:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: normal;
  font-weight: 700;
  margin: 0;
}

button {
  align-items: center;
  background: linear-gradient(180deg, #e4e4e4 0%, #f7f7f7 100%);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  gap: 10px;
  padding: 6px 12px;
  opacity: 0.7;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #4E9590;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


